.custom-focus-ring:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(243, 244, 246, 0.5);
}

.custom-select {
    appearance: none; /* Remove default arrow */
    -webkit-appearance: none; /* Remove default arrow for Safari */
    -moz-appearance: none; /* Remove default arrow for Firefox */
    background: url('data:image/svg+xml;utf8,<svg fill="gray" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 0.75rem center/1.5rem 1.5rem;
    padding-right: 2.5rem; /* Add space for the custom arrow */
}